.idea/$CACHE_FILE$
.idea/dataSources*
.idea/misc.xml
.idea/rSettings.xml
.idea/workspace.xml
.coverage
coverage.xml
.pytest_cache
.tox/
build
dist
htmlcov
env
bento_lib/search/elastic.py
__pycache__
*.egg-info
