aiofiles==23.2.1
aiohttp==3.8.6
aioresponses==0.7.4
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
backports.entry-points-selectable==1.2.0
blinker==1.6.3
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
coverage==7.3.2
cryptography==41.0.4
distlib==0.3.7
Django==4.2.7
djangorestframework==3.14.0
entrypoints==0.4
exceptiongroup==1.1.3
fastapi==0.104.0
filelock==3.12.4
flake8==6.1.0
Flask==2.3.2
frozenlist==1.4.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.18.0
httpx==0.25.0
hypercorn==0.14.4
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
MarkupSafe==2.1.2
mccabe==0.7.0
more-itertools==9.1.0
multidict==6.0.4
mypy==1.6.1
mypy-extensions==1.0.0
packaging==23.2
platformdirs==3.11.0
pluggy==1.3.0
priority==2.0.0
psycopg2==2.9.9
py==1.11.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
pyflakes==3.1.0
PyJWT==2.8.0
pyparsing==3.1.0
pyproject-api==1.6.1
pyrsistent==0.19.3
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-django==4.5.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
redis==4.6.0
referencing==0.30.0
requests==2.31.0
responses==0.23.3
rpds-py==0.9.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.27.0
toml==0.10.2
tomli==2.0.1
tox==4.11.3
types-aiofiles==23.2.0.0
types-colorama==0.4.15.12
types-cryptography==3.3.23.2
types-jsonschema==4.19.0.3
types-psycopg2==2.9.21.14
types-pyOpenSSL==23.2.0.2
types-PyYAML==6.0.12.12
types-redis==4.6.0.7
types-requests==2.31.0.10
types-toml==0.10.8.7
types-urllib3==1.26.25.14
typing_extensions==4.8.0
urllib3==2.0.7
virtualenv==20.24.5
wcwidth==0.2.8
Werkzeug==2.3.6
wsproto==1.2.0
yarl==1.9.2
zipp==3.17.0
