aiofiles==23.2.1
aiohttp==3.9.1
aioresponses==0.7.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
backports.entry-points-selectable==1.3.0
blinker==1.7.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.0
cryptography==41.0.7
distlib==0.3.8
Django==4.2.7
djangorestframework==3.14.0
entrypoints==0.4
exceptiongroup==1.2.0
fastapi==0.109.0
filelock==3.13.1
flake8==6.1.0
Flask==3.0.0
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.26.0
Hypercorn==0.16.0
hyperframe==6.0.1
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.3
mccabe==0.7.0
more-itertools==10.1.0
multidict==6.0.4
mypy==1.8.0
mypy-extensions==1.0.0
packaging==23.2
platformdirs==4.1.0
pluggy==1.3.0
priority==2.0.0
psycopg2==2.9.9
py==1.11.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
pyflakes==3.1.0
PyJWT==2.8.0
pyparsing==3.1.1
pyproject-api==1.6.1
pyrsistent==0.20.0
pytest==7.4.4
pytest-asyncio==0.23.3
pytest-cov==4.1.0
pytest-django==4.7.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
referencing==0.32.0
requests==2.31.0
responses==0.24.1
rpds-py==0.13.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.36.2
taskgroup==0.0.0a4
toml==0.10.2
tomli==2.0.1
tox==4.11.4
types-aiofiles==23.2.0.0
types-colorama==0.4.15.12
types-cryptography==3.3.23.2
types-jsonschema==4.20.0.0
types-psycopg2==2.9.21.20
types-pyOpenSSL==23.3.0.0
types-PyYAML==6.0.12.12
types-redis==4.6.0.11
types-requests==2.31.0.20231231
types-toml==0.10.8.7
types-urllib3==1.26.25.14
typing_extensions==4.9.0
urllib3==2.1.0
virtualenv==20.25.0
wcwidth==0.2.12
Werkzeug==3.0.1
wsproto==1.2.0
yarl==1.9.4
zipp==3.17.0
