appdirs==1.4.4
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
codecov==2.1.11
coverage==5.4
distlib==0.3.1
Django==2.2.17
djangorestframework==3.11.2
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.6.0
packaging==20.8
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-cov==2.11.1
pytest-django==4.1.0
python-dateutil==2.8.1
pytz==2020.5
redis==3.5.3
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tox==3.21.2
urllib3==1.26.2
virtualenv==20.4.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0
